html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("/assets/bg.jpg"); }

#topContainer {
  height: 100px; }
  #topContainer #header {
    background-color: white;
    height: 60px;
    display: flex;
    flex-flow: row wrap; }
    #topContainer #header img {
      margin-right: 60%; }
    #topContainer #header #plusBtn {
      background-color: white;
      flex: 1 0 10px;
      text-align: center;
      font-size: 35px;
      border: 1px solid orange;
      padding: 4px; }
  #topContainer nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 40px; }
    #topContainer nav #random {
      flex: 1 1 40px;
      background-color: #46423f;
      border-right: 2px solid white; }
    #topContainer nav #myBoards {
      flex: 1 1 40px;
      background-color: #46423f;
      border-right: 2px solid white; }
    #topContainer nav #getApp {
      flex: 1 1 40px;
      background-color: #46423f; }
    #topContainer nav h2 {
      text-align: center;
      margin: auto;
      padding: 8px;
      font-family: oswald, sans-serif;
      font-size: 17px; }

#content {
  display: flex;
  flex-flow: row wrap; }
  #content .postContainer {
    flex: 1 1 300px;
    background-color: white;
    height: 100%;
    margin: 15px; }
    #content .postContainer .post .imgContainer {
      display: flex;
      flex-flow: no wrap; }
      #content .postContainer .post .imgContainer img {
        flex: 1;
        margin-bottom: 1%;
        width: 80%;
        height: 0%;
        padding: 3%; }
    #content .postContainer .post .postTitle {
      font-family: oswald, sans-serif;
      font-size: 20px;
      text-align: center;
      padding: 4%; }
    #content .postContainer .post .vote {
      font-family: oswald, sans-serif;
      font-size: 15px;
      text-align: center; }
    #content .postContainer .post .metaData {
      text-align: center;
      font-family: oswald, sans-serif;
      padding: 5px;
      color: grey;
      padding: 4%; }
    #content .postContainer .post .dateLoaded {
      font-family: oswald, sans-serif;
      font-size: 13px;
      text-align: center;
      padding: 2px; }
    #content .postContainer .post .postContent {
      font-family: oswald, sans-serif;
      padding: 10px; }
